.shop {
  padding: 5rem;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  margin-bottom: 10rem;
  text-align: center;
}

.fakeStore {
  font-family: 'Bebas Neue';
  font-size: 5rem;
}

.params {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.params div:nth-child(2) {
  justify-self: end;
  grid-area: 1 / 2 / 3 / 3;
  font-size: 1.75rem;
}

.numItems {
  font-size: 2rem;
  font-style: italic;
}

.searchbar {
  font-size: 1.75rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.searchbarInput {
  background-color: inherit;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2.5rem;
  padding: 2.5rem 0;
}

.item {
  background-color: aliceblue;
  box-shadow: 0px 0px 3px gray;
  border-radius: 5px;
  padding: 2.5rem;
  display: grid;
  justify-items: center;
}

.itemName {
  font-size: 2.25rem;
}

.itemPrice {
  font-size: 2rem;
}

.links {
  margin-top: 3rem;
  display: flex;
  gap: 2.5rem;
  font-size: 1.75rem;
  align-self: center;
}

.linkContainer {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  font-size: 2.25rem;
  justify-items: center;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
}

.linkContainer:hover,
.linkContainer:focus {
  transform: scale(1.01);
}

.linkImg {
  max-width: 15rem;
}
