@font-face {
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'DM Sans';
  src: url('./assets/fonts/DM_Sans/static/DMSans-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

:root {
  font-size: 62.5%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
  filter: contrast(120%);
}

img {
  -webkit-user-drag: none;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', 'Roboto', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}
