:root {
  font-size: 62.5%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
  filter: contrast(120%);
}

img {
  -webkit-user-drag: none;
}

#root {
  display: flex;
  flex-direction: column;
}
