:root {
  font-size: 62.5%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

#root {
  display: flex;
  flex-direction: column;
}
